<header>
    <div class ="container-header">

    <a routerlink="index.html"><img class="logo" src="../../../assets/img/LOGO.jpg" alt="Logo Game Mania"></a>

    <nav id="menu" class="menu">

        <a routerlink="index.html">Home</a>

        <a href="#">Carrinho</a>

        <a routerlink="login.html">Login</a>

        <a href="#">Menu</a>
        
    </nav>

    

    <a href="#" onclick="mostrarMenu()" id="barras" ><img class="barras" src="../../../assets/img/bars-solid.svg" alt="menu de barras"></a>
    </div>
</header>