<Section class="container-Banner">

    <div id="carrosel" class="carrosel">
        <img src="../../../assets/img/Nbanner.jpg" alt="Banner Mosaico">
        <img src="../../../assets/img/Assassins-Creed banner Carossel.jpg" alt="Banner Assassins-Creed">
        <img src="../../../assets/img/Fifa-Banner.jpg" alt="Banner Fifa">
        <img src="../../../assets/img/The Witcher Carrosel.jpg" alt="Banner The Witcher">
        <img src="../../../assets/img/Sonic Mania Carrosel .jpg" alt="Banner Sonic Mania">
    </div>

    <div class="txt-banner">
        <h1>"Eu não escolhi ser Gamer. Eu nasci Gamer"</h1>
        <p>Novos mundos ao seu alcance</p>
        <a routerlink="#">Confira</a>
    </div>

</Section>

<section class="container-Promocoes">
    <div class="promocoes">
      <a routerlink="#">Promoções</a>
    </div>

    <div class="container-links">
        <div class="setup">
          <a routerlink="#"><img src="../../../assets/img/nsetup.jpg"alt="Monte seu setup"></a>
        </div>
        <div class="setup-txt">
            <a routerlink="#">Monte Seu Setup</a>
        </div>

        <div class="home">
          <a routerlink="#"><img src="../../../assets/img/nhome.jpg"alt="Home Office"></a>
        </div>
        <div class="home-txt">
            <a routerlink="#">Home Office</a>
        </div>

        <div class="smart">
          <a routerlink="#"><img src="../../../assets/img/nsmart.jpg"alt="Smart Home"></a>
        </div>
        <div class="smart-txt">
            <a routerlink="#">Smart Home</a>
        </div>
    </div>

</section>

<section class="container-departamentos">

    <div class="divisao">
        <h2>Departamentos</h2>
    </div>

    <div class="container-produtos">
    <div class="pc">
        <a routerlink="#"><img src="../../../assets/img/Npcgamer.jpg"alt="Pc Gamer"></a>
    </div>
    <div class="pc-txt">
        <a routerlink="#">Pc Gamer</a>
    </div>


    <div class="console">
        <a routerlink="#"><img src="../../../assets/img/Nconsole.jpg"alt="Console"></a>
    </div>
    <div class="console-txt">
        <a routerlink="#">Console</a>
    </div>

    <div class="teclado">
        <a routerlink="#"><img src="../../../assets/img/Ntecladoemouse.jpg"alt="Teclado"></a>
    </div>
    <div class="teclado-txt">
        <a routerlink="#">Teclado Gamer</a>
    </div>

    <div class="hardware">
        <a routerlink="#"><img src="../../../assets/img/Nhardware.jpg"alt="Hardware"></a>
    </div>
    <div class="hardware-txt">
        <a routerlink="#">Hardware</a>
    </div>

    <div class="ocvr">
        <a routerlink="#"><img src="../../../assets/img/Noculosvr.jpg"alt="Oculos Vr"></a>
    </div>
    <div class="ocvr-txt">
        <a routerlink="#">Oculos Vr</a>
    </div>

    <div class="fisicos">
        <a routerlink="#"><img src="../../../assets/img/Njogosfisicos.jpg"alt="Fisicos"></a>
    </div>
    <div class="fisicos-txt">
        <a routerlink="#">Jogos Físicos</a>
    </div>

    <div class="figure">
        <a routerlink="#"><img src="../../../assets/img/Nactionfigure.jpg"alt="Figure"></a>
    </div>
    <div class="figure-txt">
        <a routerlink="#">Action Figure</a>
    </div>

    <div class="moda">
        <a routerlink="#"><img src="../../../assets/img/Nmoda.jpg"alt="Moda"></a>
    </div>
    <div class="moda-txt">
        <a routerlink="#">Moda Gamer</a>
    </div>

    <div class="celular">
        <a routerlink="#"><img src="../../../assets/img/Celulares.jpg"alt="Celular"></a>
    </div>
    <div class="celular-txt">
        <a routerlink="#">Celular</a>
    </div>

    </div>

</section>

<script>
    let menu = document.getElementById("menu");

    function mostrarMenu(){
       if(menu.style.display != "flex") {
            menu.style.display = "flex"
        } else {
            menu.style.display = "none"
        }    
    }
</script>

