.posicionamento-header{
    position: relative;
}

.carrosel{
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

#carrosel img{
    display: none;
    width: 100%;
    height: 650px;
}

.banner-ativo{
    display: flex;
}

.txt-banner{
    position: absolute;
    top: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.txt-banner h1{
    font-size:42px ;
    font-weight: bold;
    font-family:'Roboto', sans-serif; ;
    color: white;
    text-shadow:2px 2px 2px black;
    text-decoration: none;
    text-transform: uppercase;
}

.txt-banner p{
    font-size:30px;
    font-weight: bold;
    font-family:'Roboto', sans-serif; ;
    color: white;
    text-shadow: 2px 2px 2px black;
    text-decoration: none;
    text-transform: uppercase;
}

.txt-banner a{
    font-size:20px;
    font-weight: bold;
    font-family:'Roboto', sans-serif; 
    color: white;
    background: #0B6DDF;
    border: 1px solid black;
    padding: 5px;
    border-radius: 30px;
    text-decoration: none;
    text-transform: uppercase;
}

#container-Promocoes{
    max-height:100% ;
    max-width:100% ;
}

.promocoes{
    height:300px ;
    background-image: url(../../../assets/img/npromo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.promocoes a{
    position: relative;
    top: 60%;
    font-size: 42px;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family:'Roboto', sans-serif; 
}

.container-links{
    position: relative;
    height: 15vw;
    background: #363636;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.setup img{
    width: 30vw;
    height: 14vw;
    border: 2px solid black;
}

.setup-txt a{
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family:'Roboto', sans-serif;
    color: white;
    text-shadow: 2px 2px 2px black;
    top: 60%;
    left: 5%;
    font-size: 30px;
}

.home img{
    width: 30vw;
    height: 14vw;
    border: 2px solid black;
}

.home-txt a{
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family:'Roboto', sans-serif;
    color: white;
    text-shadow: 2px 2px 2px black;
    top: 60%;
    left: 42%;
    font-size: 30px;
}

.smart img{
    width: 30vw;
    height: 14vw;
    border: 2px solid black;
}

.smart-txt a{
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family:'Roboto', sans-serif;
    color: white;
    text-shadow: 2px 2px 2px black;
    top: 60%;
    right: 10%;
    font-size: 30px;
}

.container-departamentos{
    width: 100%;
    height: 100%;
}

.divisao{
    width:100% ;
    height:50px ;
    background: #363636;
}

.divisao h2{
    background: #0B6DDF;
    text-shadow: 1px 1px 1px black;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family:'Roboto', sans-serif;
    font-size: 40px;
    border-radius: 50px;
}

.container-produtos{
    height: 90vh;
    background: #363636;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
}

.pc img{
    position: relative;
    width: 30vw ;
    height:13vw ;
    border: 2px solid black;
}

.console img{
    position: relative;
    width: 30vw ;
    height:13vw ;
    border: 2px solid black;
}

.teclado img{
    position: relative;
    width: 30vw ;
    height:13vw ;
    border: 2px solid black;
}

.hardware img{
    position: relative;
    width: 30vw ;
    height:13vw ;
    border: 2px solid black;
}

.ocvr img{
    position: relative;
    width: 30vw ;
    height:13vw ;
    border: 2px solid black;
}

.fisicos img{
    position: relative;
    width: 30vw ;
    height:13vw ;
    border: 2px solid black;
}

.figure img{
    position: relative;
    width: 30vw ;
    height:13vw ;
    border: 2px solid black;
}

.moda img{
    position: relative;
    width: 30vw ;
    height:13vw ;
    border: 2px solid black;
}

.celular img{
    position: relative;
    width: 30vw ;
    height:13vw ;
    border: 2px solid black;
}

.pc-txt a{
   position:absolute;
   left:10%;
   color: white;
   text-shadow: 2px 2px 2px black;
   text-decoration: none;
   text-transform: uppercase;
   font-weight: bold;
   font-family:'Roboto', sans-serif;
   font-size: 30px;
}

.console-txt a{
    position:absolute;
    left:45%;
    color: white;
    text-shadow: 2px 2px 2px black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family:'Roboto', sans-serif;
    font-size: 30px;
}

.teclado-txt a{
    position:absolute;
    right:7%;
    color: white;
    text-shadow: 2px 2px 2px black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family:'Roboto', sans-serif;
    font-size: 30px;
}

.hardware-txt a{
    position: absolute;
    left: 10%;
    color: white;
    text-shadow: 2px 2px 2px black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family:'Roboto', sans-serif;
    font-size: 30px;
}

.ocvr-txt a{
    position: absolute;
    left: 45%;
    color: white;
    text-shadow: 2px 2px 2px black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family:'Roboto', sans-serif;
    font-size: 30px;
}

.fisicos-txt a{
    position: absolute;
    right: 8%;
    color: white;
    text-shadow: 2px 2px 2px black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family:'Roboto', sans-serif;
    font-size: 30px;
}

.figure-txt a{
    position: absolute;
    left: 8%;
    color: white;
    text-shadow: 2px 2px 2px black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family:'Roboto', sans-serif;
    font-size: 30px;
}

.moda-txt a{
    position: absolute;
    left: 43%;
    color: white;
    text-shadow: 2px 2px 2px black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family:'Roboto', sans-serif;
    font-size: 30px;
}

.celular-txt a{
    position: absolute;
    right: 10%;
    color: white;
    text-shadow: 2px 2px 2px black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family:'Roboto', sans-serif;
    font-size: 30px;
}
@media screen and (max-width:800px){

#carrosel img{
    height: 400px;
}
    
.txt-banner{
    top: 60vh;
}
    
.txt-banner h1{
    font-size: 30px;
}
    
.txt-banner p{
    font-size: 24px;
}
    
.txt-banner a{
    font-size: 16px;
}
    
.promocoes{
    height: 200px;
}
    
.promocoes a{
    font-size: 30px;
}
    
.setup-txt a{
    font-size: 18px;
}
    
.home-txt a{
    font-size: 18px;
}
    
.smart-txt a{
    font-size: 18px;
}
    
.divisao{
    height: 30px;
}
    
.divisao h2{
    font-size: 26px;
}
    
.container-produtos{
    height: 350px;
}
    
.pc-txt a{
    font-size: 18px;
}
    
.console-txt a{
    font-size: 18px;
}
    
.teclado-txt a{
    font-size: 18px;
}
    
.hardware-txt a{
    font-size: 18px;
}
    
.ocvr-txt a{
    font-size: 18px;
}
    
.fisicos-txt a{
    font-size: 18px;
}
    
.figure-txt a{
    font-size: 18px;
}
    
.moda-txt a{
    font-size: 18px ;
}
    
.celular-txt a{
    font-size: 18px;
}
    
}
@media screen and (max-width:425px){

#carrosel img{
    height:300px ;
}
      
.txt-banner{
    top:45vh;
}
      
.txt-banner h1{
    font-size: 18px;
}
      
.txt-banner p{
    font-size: 14px;
}
      
.txt-banner a{
    font-size: 10px;
}
      
.promocoes{
    height: 130px;
}
      
.promocoes a{
    font-size: 20px;
}
      
.setup-txt a{
    font-size: 12px;
}
      
.home-txt a{
    font-size: 12px;
}
      
.smart-txt a{
    font-size: 12px;
}
      
.divisao{
    height: 24px;
}
      
.divisao h2{
    font-size: 18px;
}
      
.container-produtos{
    height: 200px;
}
      
.pc-txt a{
    font-size: 12px;
}
      
.console-txt a{
    font-size: 12px;
}
      
.teclado-txt a{
    font-size: 12px;
}
      
.hardware-txt a{
    font-size: 12px;
}
      
.ocvr-txt a{
    font-size: 12px;
}
      
.fisicos-txt a{
    font-size: 12px;
}
      
.figure-txt a{
    font-size: 12px;
}
      
.moda-txt a{
    font-size: 12px ;
}
      
.celular-txt a{
    font-size: 12px;
}

}
@media screen and (max-width:375px){
    
#carrosel img{
    height:250px ;
}
      
.txt-banner{
    top: 45vh;
}
      
.txt-banner h1{
    font-size: 14px;
}
      
.txt-banner p{
    font-size: 12px;
}
      
.txt-banner a{
    font-size: 8px;
    padding: 2px;
    cursor: pointer;
}
      
.promocoes{
    height: 100px;
}
      
.promocoes a{
    font-size: 16px;
}
      
.container-links{
    height: 10vh;
}
      
.setup-txt a{
    font-size: 8px;
}
      
.home-txt a{
    font-size: 8px;
}
      
.smart-txt a{
    font-size: 8px;
}
      
.divisao{
    height: 18px;
}
      
.divisao h2{
    font-size: 14px;
}
      
.container-produtos{
    height: 160px;
}
      
.pc-txt a{
    font-size: 8px;
}
      
.console-txt a{
    font-size: 8px;
}
      
.teclado-txt a{
    font-size: 8px;
}
      
.hardware-txt a{
    font-size: 8px;
}
      
.ocvr-txt a{
    font-size: 8px;
}
      
.fisicos-txt a{
    font-size: 8px;
}
      
.figure-txt a{
    font-size: 8px;
}
      
.moda-txt a{
    font-size: 8px;
}
      
.celular-txt a{
    font-size: 8px;
}

}
@media screen and (max-width:000px){

#carrosel img{
    height:250px ;
}
      
.txt-banner{
    top: 38vh;
}
      
.txt-banner h1{
    font-size: 14px;
}
      
.txt-banner p{
    font-size: 12px;
}
      
.txt-banner a{
    font-size: 8px;
    padding: 2px;
    cursor: pointer;
}
      
.promocoes{
    height: 80px;
}
      
.promocoes a{
    font-size: 14px;
}
      
.container-links{
    height: 10vh;
}
.setup-txt a{
    font-size: 8px;
}
      
.home-txt a{
    font-size: 8px;
}
      
.smart-txt a{
    font-size: 8px;
}
      
.divisao{
    height: 18px;
}
      
.divisao h2{
    font-size: 14px;
}
      
.container-produtos{
    height: 150px;
}
      
.pc-txt a{
    font-size: 6px;
}
      
.console-txt a{
    font-size: 6px;
}
      
.teclado-txt a{
    font-size: 6px;
}
      
.hardware-txt a{
    font-size: 6px;
}
      
.ocvr-txt a{
    font-size: 6px;
}
      
.fisicos-txt a{
    font-size: 6px;
}
      
.figure-txt a{
    font-size: 6px;
}
      
.moda-txt a{
    font-size: 6px ;
}
      
.celular-txt a{
    font-size: 6px;
}
}