.container-middle{
    background-color: #363636;
    color: rgb(49, 62, 66);
    font-family:'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.login{
    background-color: white;
    padding: 20px 40px;
    border-radius: 5px;
}

.login h1{
    text-align: center;
    margin-bottom: 30px;
}

.login a{
    text-decoration: none;
    color:#0B6DDF
}

.button{
    display: inline-block;
    width: 100%;
    cursor: pointer;
    background-color:#0B6DDF;
    color: white;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
}

.button:focus{
    outline: 0;
}

.button:active{
    transform: scale(0.98);
}

.text{
    margin-top: 30px;
}

.formulario{
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}

.formulario input{
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #363636;
    display: block;
    width: 100%;
    padding: 15px 0 10px 0;
    font-size: 18px;
    color:#363636;
}

.formulario input:focus,
.formulario input:valid{
    outline: 0;
    border-bottom-color: #363636;
}

.formulario label{
    position: absolute;
    top: 15px;
    left: 0;
}

.formulario label span{
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.formulario input:focus + label span,
.formulario input:valid + label span{
    color: #363636;
    transform: translateY(-30px);
}
@media screen and (max-width:800px){

.container-middle{
    background-color: #363636;
    color: rgb(49, 62, 66);
    font-family:'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}
        
.login{
    background-color: white;
    padding: 20px 40px;
    border-radius: 5px;
}
        
.login h1{
    text-align: center;
    margin-bottom: 30px;
}
        
.login a{
    text-decoration: none;
    color:#0B6DDF
}
        
.button{
    display: inline-block;
    width: 100%;
    cursor: pointer;
    background-color:#0B6DDF;
    color: white;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
}
        
.button:focus{
    outline: 0;
}
        
.button:active{
    transform: scale(0.98);
}
        
.text{
    margin-top: 30px;
}
        
.formulario{
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}
        
.formulario input{
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #363636;
    display: block;
    width: 100%;
    padding: 15px 0 10px 0;
    font-size: 18px;
    color:#363636;
}
        
.formulario input:focus,
.formulario input:valid{
    outline: 0;
    border-bottom-color: #363636;
}
        
.formulario label{
    position: absolute;
    top: 15px;
    left: 0;
}
        
.formulario label span{
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
        
.formulario input:focus + label span,
.formulario input:valid + label span{
    color: #363636;
    transform: translateY(-30px);
}

}
@media screen and (max-width:425px){

.container-middle{
    background-color: #363636;
    color: rgb(49, 62, 66);
    font-family:'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}
            
.login{
    background-color: white;
    padding: 20px 40px;
    border-radius: 5px;
}
            
.login h1{
    text-align: center;
    margin-bottom: 30px;
}
            
.login a{
    text-decoration: none;
    color:#0B6DDF
}
            
.button{
    display: inline-block;
    width: 100%;
    cursor: pointer;
    background-color:#0B6DDF;
    color: white;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
}
            
.button:focus{
    outline: 0;
}
            
.button:active{
    transform: scale(0.98);
}
            
.text{
    margin-top: 30px;
}
            
.formulario{
    position: relative;
    margin: 20px 0 40px;
    width: 200px;
}
            
.formulario input{
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #363636;
    display: block;
    width: 100%;
    padding: 15px 0 10px 0;
    font-size: 16px;
    color:#363636;
}
            
.formulario input:focus,
.formulario input:valid{
    outline: 0;
    border-bottom-color: #363636;
}
            
.formulario label{
    position: absolute;
    top: 15px;
    left: 0;
}
            
.formulario label span{
    display: inline-block;
    font-size: 16px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
            
.formulario input:focus + label span,
.formulario input:valid + label span{
    color: #363636;
    transform: translateY(-30px);
} 

}
@media screen and (max-width:375px){

.container-middle{
    background-color: #363636;
    color: rgb(49, 62, 66);
    font-family:'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}
            
.login{
    background-color: white;
    padding: 20px 40px;
    border-radius: 5px;
}
            
.login h1{
    text-align: center;
    margin-bottom: 30px;
}
            
.login a{
    text-decoration: none;
    color:#0B6DDF
}
            
.button{
    display: inline-block;
    width: 100%;
    cursor: pointer;
    background-color:#0B6DDF;
    color: white;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
}
            
.button:focus{
    outline: 0;
}
            
.button:active{
    transform: scale(0.98);
}
            
.text{
    margin-top: 30px;
}
            
.formulario{
    position: relative;
    margin: 20px 0 40px;
    width: 200px;
}
            
.formulario input{
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #363636;
    display: block;
    width: 100%;
    padding: 15px 0 10px 0;
    font-size: 16px;
    color:#363636;
}
            
.formulario input:focus,
.formulario input:valid{
    outline: 0;
    border-bottom-color: #363636;
}
            
.formulario label{
    position: absolute;
    top: 15px;
    left: 0;
}
            
.formulario label span{
    display: inline-block;
    font-size: 16px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
            
.formulario input:focus + label span,
.formulario input:valid + label span{
    color: #363636;
    transform: translateY(-30px);
}

}
@media screen and (max-width:000px){

.container-middle{
    background-color: #363636;
    color: rgb(49, 62, 66);
    font-family:'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}
        
.login{
    background-color: white;
    padding: 20px 40px;
    border-radius: 5px;
}
        
.login h1{
    text-align: center;
    margin-bottom: 30px;
}
        
.login a{
    text-decoration: none;
    color:#0B6DDF
}
        
.button{
    display: inline-block;
    width: 100%;
    cursor: pointer;
    background-color:#0B6DDF;
    color: white;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
}
        
.button:focus{
    outline: 0;
}
        
.button:active{
    transform: scale(0.98);
}
        
.text{
    margin-top: 30px;
}
        
.formulario{
    position: relative;
    margin: 20px 0 40px;
    width: 200px;
}
        
.formulario input{
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #363636;
    display: block;
    width: 100%;
    padding: 15px 0 10px 0;
    font-size: 16px;
    color:#363636;
}
        
.formulario input:focus,
.formulario input:valid{
    outline: 0;
    border-bottom-color: #363636;
}
        
.formulario label{
    position: absolute;
    top: 15px;
    left: 0;
}
        
.formulario label span{
    display: inline-block;
    font-size: 16px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
        
.formulario input:focus + label span,
.formulario input:valid + label span{
    color: #363636;
    transform: translateY(-30px);
}

}