<footer>
    <section class="container-rodape">
        <div class="dir">
            <p>B-tech Webworks</p>
        </div>

        <div class="contato">
            <h3>Todos os direitos reservados a Game Mania LTDA</h3>
            <p>CEP 03162-060. Rua Itajaí, Mooca, São Paulo - SP.</p>
            <a routerlink="(11) 98167-2928">(11) 98167-2928</a>
        </div>

        <div class="redes">
            <a routelink="#"><img src="../../../assets/img/face.jpg" alt="Facebook"> @GameMania</a>
            <a routerlink="#"><img src="../../../assets/img/insta.jpg" alt="Instagram"> @GameMania</a>
            <a routerlink="(11) 98167-2928"><img src="../../../assets/img/zap.jpg" alt="Whatsapp"> (11) 98167-2928</a>
        </div>

    </section>
</footer>